<div class="container">
    <nz-table [nzData]="dataArray" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th *ngFor="let _ of createArray(column);let i=index" (click)="onSort(i)">
                    Column {{i}}
                    <span *ngIf="sortDirection === 'asc' && sortColumnIndex === i"><i nz-icon nzType="caret-up" nzTheme="outline"></i></span>
                    <span *ngIf="sortDirection === 'desc' && sortColumnIndex === i"><i nz-icon nzType="caret-down" nzTheme="outline"></i></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let _ of createArray(rows);let i=index">
                <td *ngFor="let _ of createArray(column);let j=index" (mousedown)="copyFrom(i,j)"
                    (mouseup)="copyTo(i,j)">
                    <!-- <div class="non-editable-cell" *ngIf="(this.enableCellIndex.rowIndex !== i && this.enableCellIndex.columnIndex !== j) || (this.enableCellIndex.rowIndex === null && this.enableCellIndex.columnIndex === null)" (click)="enableEditing(i,j)">
                        {{dataArray[i][j]}}
                    </div> -->
                    <input type="text"
                         nz-input
                        [(ngModel)]="dataArray[i][j]" (blur)="printUpdatedValues(i,j)" />
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>