.container {
    display: flex;
    width: 100%;

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: lightgray;
        font-size: 16px;
        padding: 10px;
    }

    nz-table {
        width: 100%;
        .non-editable-cell {
            position: relative;
            padding: 5px 12px;
            cursor: pointer;
        }
    
        .non-editable-cell:hover {
            border: 1px solid #d9d9d9;
            padding: 4px 11px;
            border-radius: 0;
        }
        tr,td {
            padding: 0;
        }
        th {
            cursor: pointer;
        }
    }
}